.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.poke-header{ 
  background-color: #FBF5F3;
  height: 100px;
  text-align: center;
  text-justify: center;
  display: block; 
  
  
}

.poke-link { 
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 20px;
  
}
.poke-link-container { 
  /* background-color: turquoise; */
  width: 275px;
  margin-left: 80%;
  padding-top: 10px;
  
}

.poke-words { 
  color: #000022;
  font-weight: bold;
  font-size: 28px;
  font-style: oblique;
  font-family: cursive;
}
.sort-poke {
  color: white;
}

.search-bar { 
  border: black 2px solid;
  width: 85%;
  height: 100%;
  padding-left: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-left: 20px;
  text-align: center;
  border-radius: 3em;

}

.sort-drop { 
  padding-bottom: 5px;
  padding-right: 5px;
  margin-right: 10px;
}

.search-container { 
  border-right: black 2px solid;
  border-bottom: black 2px solid ;
  padding-bottom: 20px;
  padding-top: 10px;
  width: 30%;
  background-color: #DE3C4B;
}

.poke-list { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #FBF5F3;
  margin-bottom: 10px;
  margin-right: 20px;
  height: 350px;
  width: 300px;
  background-color: black;
  color: #E28413;
  font-weight: bold;
  padding-top: 2px;
  padding-bottom: 3px;
  border-radius: 1em;
  box-shadow: 2px 2px #2b2c30;
  text-transform:capitalize;
  

}
.pokemon-ul { 

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;


}

.poke-ball-div { 
  align-items: center;
  justify-content: center;
  justify-items: center;
  /* background-color: teal; */
  /* text-align: center; */
  padding-left:25%;
  align-items: flex-end;
}
.poke-ball-img { 
  /* background-color: yellow; */

  align-items: center;
}

.loading-text{ 
  text-align:center;
  width: 150px;
  font-size: medium;
}